<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  id="WebApp_ID" version="4.0">
  <display-name>CollabProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>

  <!-- SquadServlet -->
  <servlet>
    <servlet-name>SquadMemberServlet</servlet-name>
    <servlet-class>controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquadMemberServlet</servlet-name>
    <url-pattern>/squadMembers</url-pattern>
  </servlet-mapping>
  
  <!-- ProjectServlet -->
  <servlet>
    <servlet-name>ProjectServlet</servlet-name>
    <servlet-class>controller.ProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectServlet</servlet-name>
    <url-pattern>/projects</url-pattern>
  </servlet-mapping>

  <!-- SquadServlet -->
  <servlet>
    <servlet-name>SquadServlet</servlet-name>
    <servlet-class>controller.SquadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SquadServlet</servlet-name>
    <url-pattern>/squads</url-pattern>
  </servlet-mapping>

  <!-- MemberServlet -->
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/members</url-pattern>
  </servlet-mapping>

  <!-- TaskServlet -->
  <servlet>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>controller.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/projects/tasks</url-pattern>
  </servlet-mapping>
</web-app>